In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'

In [3]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', low_memory=False)

In [4]:
df.sample(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
719954,1.0,2021-01-19 12:36:54,2021-01-19 12:40:34,1.0,0.50,1.0,N,161,161,2.0,4.5,2.5,0.5,0.00,0.0,0.3,7.80,2.5
289213,2.0,2021-01-08 17:50:56,2021-01-08 18:08:16,1.0,3.23,1.0,N,107,142,1.0,14.0,1.0,0.5,1.00,0.0,0.3,19.30,2.5
215283,2.0,2021-01-07 08:00:12,2021-01-07 08:09:51,1.0,1.15,1.0,N,237,236,2.0,8.0,0.0,0.5,0.00,0.0,0.3,11.30,2.5
1083946,1.0,2021-01-27 16:24:29,2021-01-27 16:30:03,1.0,0.90,1.0,N,170,163,2.0,6.0,3.5,0.5,0.00,0.0,0.3,10.30,2.5
377357,1.0,2021-01-11 10:17:18,2021-01-11 10:30:38,1.0,2.80,1.0,N,236,170,1.0,12.0,2.5,0.5,3.05,0.0,0.3,18.35,2.5

In [5]:
print(pd.io.sql.get_schema(df, name='yellow_taxi'))

CREATE TABLE "yellow_taxi" (
"VendorID" REAL,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [6]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [7]:
print(pd.io.sql.get_schema(df, name='yellow_taxi'))

CREATE TABLE "yellow_taxi" (
"VendorID" REAL,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [8]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\fajar\anaconda3\lib\site-packages (2.9.6)
Note: you may need to restart the kernel to use updated packages.

In [9]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [10]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', low_memory=False, iterator=True, chunksize=150000)

In [11]:
df = next(df_iter)

In [12]:
len(df)

150000

In [13]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [14]:
df.to_sql(name='yellow_taxi', con=engine, if_exists='append')

1000

In [15]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [16]:
from time import time

In [17]:
while True:
    t_start = time()

    df =next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi', con=engine, if_exists='append')

    t_end = time()

    print('insert another chunk..., took %.3f second' % (t_end -t_start))

insert another chunk..., took 14.942 second
insert another chunk..., took 14.175 second
insert another chunk..., took 13.993 second
insert another chunk..., took 15.213 second
insert another chunk..., took 14.612 second
insert another chunk..., took 14.682 second
insert another chunk..., took 14.981 second
insert another chunk..., took 14.438 second
insert another chunk..., took 1.787 second

StopIteration: